{% extends "support/_layouts/cp" %}

{% import "_includes/forms" as forms %}
{% import "support/projects/_fields" as projectFields %}

{% set selectedSubnavItem = 'projects' %}

{% set title = project.id ? project.title : 'Add a project'|t %}

{% set crumbs = [
    { label: "Projects"|t, url: url('support/projects') }
] %}

{% set fullPageForm = true %}

{% set saveShortcutRedirect = continueEditingUrl %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
                        {{ "Save and continue editing"|t }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a></li>
                <li><a class="formsubmit" data-redirect="support/projects/new">{{ "Save and add another"|t }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="support/projects/save">
    <input type="hidden" name="redirect" value="support/projects">
    {% if project.id %}<input type="hidden" name="projectId" value="{{ project.id }}">{% endif %}
    {% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ project.locale }}">{% endif %}

    {{ getCsrfInput() }}

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left" data-colspan="2">

            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                {{ projectFields.nameField(project) }}

                {{ projectFields.codeField(project) }}

                {{ projectFields.customerField(project) }}

                {{ projectFields.favoriteField(project) }}

                <div>
                    {% for tab in projectSettings.getFieldLayout().getTabs() %}
                        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                            {% include "_includes/fields" with {
                            fields: tab.getFields(),
                            element: project
                            } only %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div id="meta-pane" class="item" data-position="right">

            <div class="pane meta">

                {% set statusInput %}
                    <div class="left">
                        {{ forms.lightswitch({
                            id: 'enabled',
                            name: 'enabled',
                            on: project.enabled,
                            disabled: false
                        }) }}
                    </div>

                    {% if project.id %}
                        <div class="right">
                            <input type="button"
                                   class="btn small formsubmit"
                                   value="{{ 'Delete'|t }}"
                                   data-action="support/projects/delete"
                                   data-confirm="{{ 'Are you sure you want to delete this project and all its issues?'|t }}"
                                   data-redirect="support/projects">
                        </div>
                    {% endif %}
                {% endset %}

                {{ forms.field({
                    id: 'enabled',
                    label: 'Enabled?'|t
                }, statusInput) }}

            </div>

        </div>

    </div>

{% endblock %}
