
{% macro nameField(project) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'name' %}

    {{ forms.textField({
        label: "Name"|t,
        id: attribute,
        name: attribute,
        value: project.getAttribute(attribute),
        errors: project.getErrors(attribute),
        required: true,
        autofocus: true,
    }) }}

{% endmacro %}

{% macro codeField(project) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'code' %}

    {{ forms.textField({
        label: "Code"|t,
        id: attribute,
        name: attribute,
        value: project.getAttribute(attribute),
        errors: project.getErrors(attribute),
        required: true
    }) }}

{% endmacro %}

{% macro favoriteField(project) %}

    {% import "_includes/forms" as forms %}

    {% set input %}

        {{ forms.lightswitch({
            id: 'favorite',
            name: 'favorite',
            on: project.favorite,
            disabled: false
        }) }}

    {% endset %}

    {{ forms.field({
        id: 'favorite',
        label: 'Favorite?'|t
    }, input) }}

{% endmacro %}

{% macro customerField(project) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'customerId' %}

    {{ forms.selectField({
        label: "Customer"|t,
        id: attribute,
        name: attribute,
        options: craft.support.getCustomers(),
        value: project.getAttribute(attribute),
        errors: project.getErrors(attribute),
        required: true
    }) }}

{% endmacro %}
