{% extends "_layouts/elementindex" %}

{% includeCssResource 'support/css/supportCp.css' %}

{% hook 'support.prepCpTemplate' %}

{% set title = "Projects"|t %}
{% set elementType = 'Support_Project' %}
{% set selectedTab = 'projects' %}
{% set selectedSubnavItem = 'projects' %}
{% set sources = craft.elementIndexes.getSources(elementType, 'index') %}

{% block sidebar %}
    {#{% if sources|length > 2 %}#}
        {{ parent() }}
    {#{% endif %}#}
{% endblock %}

{% block content %}
    {% if not customers|length %}
        <p class="error">{{ 'No customers exist yet.'|t }} <a class="go" href="{{ url('support/customers/new') }}">{{ 'Create one'|t }}</a></p>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('support/projects/new') }}">{{ "Add a project"|t }}</a>
    </div>
{% endset %}
