{# Inputs #}

{% macro elementSelect(config) %}
	{% include "support/_includes/forms/elementSelect" with config only %}
{% endmacro %}


{# Fields #}


{% macro field(config, input) %}
    {% include "_includes/forms/field" with config|merge({ input: input }) only %}
{% endmacro %}


{% macro elementSelectField(config) %}
	{{ _self.field(config, _self.elementSelect(config)) }}
{% endmacro %}
