{% import "_includes/forms" as forms %}
{% import "support/issues/_fields" as issueFields %}
{% set fieldNamespace = 'fields'~random() %}


<form method="post" accept-charset="UTF-8">
	<input type="hidden" name="fieldsLocation" value="{{ fieldNamespace }}">

    {{ getCsrfInput() }}

    {{ issueFields.titleField(issue) }}
    {{ issueFields.statusField(issue) }}
    {{ issueFields.typeField(issue) }}
    {{ issueFields.projectSelectField(issue) }}
    {{ issueFields.descriptionField(issue) }}

	{% namespace fieldNamespace %}
		{% for field in issueSettings.getFieldLayout().getFields() %}
			{% if field.required or field.fieldId in settings.fields %}
				{% include "_includes/field" with {
					field: field.getField(),
					required: field.required,
					entry: null
				} only %}
			{% endif %}
		{% endfor %}
	{% endnamespace %}

	<div class="buttons">
		<div class="btngroup">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="save-and-continue-editing">{{ "Save and continue editing"|t }}</a></li>
				</ul>
			</div>
		</div>
		<div class="spinner hidden"></div>
	</div>
</form>
