{% import "_includes/forms" as forms %}

    <div>
        {% set fieldsInput %}

            <div>

                {% for field in issueSettings.getFieldLayout().getFields() %}
                    <div>
                        {{ forms.checkbox({
                            label: field.getField().name~(field.required ? ' <span class="required"></span>' : ''),
                            name: '[fields][]',
                            value: field.fieldId,
                            checked: (field.required or field.fieldId in settings.fields),
                            disabled: field.required
                        }) }}
                    </div>
                {% endfor %}
            </div>
        {% endset %}

        {{ forms.field({
            label: "Fields"|t,
            instructions: "Which fields should be visible in the widget?"|t
        }, fieldsInput) }}
    </div>
