{% extends "support/_layouts/cp" %}

{% import "_includes/forms" as forms %}
{% import "support/customers/_fields" as customerFields %}

{% set selectedSubnavItem = 'customers' %}

{% set title = customer.id ? customer.title : 'Add a customer'|t %}

{% set crumbs = [
    { label: "Customers"|t, url: url('support/customers') }
] %}

{% set fullPageForm = true %}

{% set saveShortcutRedirect = continueEditingUrl %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
                        {{ "Save and continue editing"|t }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a></li>
                <li><a class="formsubmit" data-redirect="support/customers/new">{{ "Save and add another"|t }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="support/customers/save">
    <input type="hidden" name="redirect" value="support/customers">
    {% if customer.id %}<input type="hidden" name="customerId" value="{{ customer.id }}">{% endif %}
    {% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ customer.locale }}">{% endif %}

    {{ getCsrfInput() }}

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left" data-colspan="2">

            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                {{ customerFields.nameField(customer, 'name', "Name"|t) }}

                {{ customerFields.codeField(customer, 'code', "Code"|t) }}

                <div>
                    {% for tab in customerSettings.getFieldLayout().getTabs() %}
                        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                            {% include "_includes/fields" with {
                            fields: tab.getFields(),
                            element: customer
                            } only %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div id="meta-pane" class="item" data-position="right">

            <div class="pane meta">

                {% set statusInput %}
                    <div class="left">
                        {{ forms.lightswitch({
                            id: 'enabled',
                            name: 'enabled',
                            on: customer.enabled,
                            disabled: false
                        }) }}
                    </div>

                    {% if customer.id %}
                        <div class="right">
                            <input type="button"
                                   class="btn small formsubmit"
                                   value="{{ 'Delete'|t }}"
                                   data-action="support/customers/delete"
                                   data-confirm="{{ 'Are you sure you want to delete this customer?'|t }}"
                                   data-redirect="support/customers">
                        </div>
                    {% endif %}
                {% endset %}

                {{ forms.field({
                    id: 'enabled',
                    label: 'Enabled?'|t
                }, statusInput) }}

            </div>

        </div>

    </div>

{% endblock %}
