
{% macro nameField(customer) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'name' %}

    {{ forms.textField({
        label: "Name"|t,
        id: attribute,
        name: attribute,
        value: customer.getAttribute(attribute),
        errors: customer.getErrors(attribute),
        required: true,
        autofocus: true,
    }) }}

{% endmacro %}

{% macro codeField(customer) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'code' %}

    {{ forms.textField({
        label: "Code"|t,
        id: attribute,
        name: attribute,
        value: customer.getAttribute(attribute),
        errors: customer.getErrors(attribute),
        required: true
    }) }}

{% endmacro %}
