{% extends "_layouts/elementindex" %}

{% includeCssResource 'support/css/supportCp.css' %}

{% hook 'support.prepCpTemplate' %}

{% set title = "Customers"|t %}
{% set elementType = 'Support_Customer' %}
{% set selectedTab = 'customers' %}
{% set selectedSubnavItem = 'customers' %}
{% set sources = craft.elementIndexes.getSources(elementType, 'index') %}


{% block sidebar %}
    {#{% if sources|length > 2 %}#}
        {{ parent() }}
    {#{% endif %}#}
{% endblock %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('support/customers/new') }}">{{ "Add a customer"|t }}</a>
    </div>
{% endset %}
