{% extends "support/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% set selectedTab = 'settings' %}

{% block content %}

    <h2>{{ "Customer Fields"|t }}</h2>

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        <input type="hidden" name="action" value="support/customerSettings/save">
        <input type="hidden" name="redirect" value="support/settings/general">

        {{ getCsrfInput() }}

        {% if customerSettings.id %}<input type="hidden" name="customerSettingsId" value="{{ customerSettings.id }}">{% endif %}

        {% include "_includes/fieldlayoutdesigner" with {
            fieldLayout: customerSettings.getFieldLayout(),
        } only %}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ "Save"|t }}">
        </div>

    </form>
{% endblock %}
