{% extends "support/_layouts/cp" %}

{% includeCssResource "lib/redactor/redactor.css" %}
{% includeJsResource "lib/redactor/redactor.js" %}
{% includeCssResource "lib/redactor/plugins/pagebreak.css" %}
{% includeJsResource "lib/redactor/plugins/pagebreak.js" %}
{% includeJsResource "lib/redactor/plugins/fullscreen.js" %}
{% includeJsResource "lib/redactor/plugins/source.js" %}
{% includeJsResource "lib/redactor/plugins/table.js" %}
{% includeJsResource "lib/redactor/plugins/video.js" %}

{% import "_includes/forms" as forms %}
{% import "support/issues/_fields" as issueFields %}

{% set title = issue.id ? issue.title : 'Report an issue'|t %}

{% set selectedSubnavItem = 'issues' %}

{% set crumbs = [
    { label: "Issues"|t, url: url('support/issues') },
] %}

{% set fullPageForm = true %}

{% set saveShortcutRedirect = continueEditingUrl %}

{% block saveButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li><a class="formsubmit" data-redirect="{{ continueEditingUrl }}">
                        {{ "Save and continue editing"|t }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a></li>
                <li><a class="formsubmit" data-redirect="support/issues/new">{{ "Save and add another"|t }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}
    <input type="hidden" name="action" value="support/issues/save">
    <input type="hidden" name="redirect" value="support/issues">
    {% if issue.id %}<input type="hidden" name="issueId" value="{{ issue.id }}">{% endif %}
    {% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ issue.locale }}">{% endif %}

    {{ getCsrfInput() }}

    <div class="grid first" data-max-cols="3">
        <div class="item" data-position="left" data-colspan="2">

            <div id="fields" class="pane">
                {% include "_includes/tabs" %}

                {{ issueFields.titleField(issue) }}

                {{ issueFields.descriptionField(issue) }}
                {{ issueFields.solutionField(issue) }}
                {{ issueFields.filesField(issue) }}

                <div>
                    {% for tab in issueSettings.getFieldLayout().getTabs() %}
                        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
                            {% include "_includes/fields" with {
                                fields: tab.getFields(),
                                element: issue
                            } only %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div id="meta-pane" class="item" data-position="right">

            <div class="pane meta">

                {{ issueFields.statusField(issue) }}
                {{ issueFields.typeField(issue) }}
                {{ issueFields.projectField(issue) }}

                {% set statusInput %}
                    <div class="left">
                        {{ forms.lightswitch({
                            id: 'enabled',
                            name: 'enabled',
                            on: issue.enabled,
                            disabled: false
                        }) }}
                    </div>

                    {% if issue.id %}
                        <div class="right">
                            <input type="button"
                                   class="btn small formsubmit"
                                   value="{{ 'Delete'|t }}"
                                   data-action="support/issues/delete"
                                   data-confirm="{{ 'Are you sure you want to delete this issue?'|t }}"
                                   data-redirect="support/issues">
                        </div>
                    {% endif %}
                {% endset %}

                {{ forms.field({
                    id: 'enabled',
                    label: 'Enabled?'|t
                }, statusInput) }}

            </div>

        </div>

    </div>

    {% set js %}
        $('.issue-description, .issue-solution').redactor({{ redactorConfig('Issue') }});
    {% endset %}

    {% includeJs js %}

{% endblock %}
