{% macro titleField(issue) %}

    {% import "_includes/forms" as forms %}

    {{ forms.textField({
        label: "Title"|t,
        id: 'title',
        name: 'title',
        value: issue.title,
        placeholder: 'Enter title'|t,
        errors: issue.getErrors('title'),
        first: true,
        autofocus: true,
        required: true,
        maxlength: 255
    }) }}

{% endmacro %}

{% macro statusField(issue) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'issueStatusId' %}

    {{ forms.selectField({
        label: 'Status'|t,
        id: 'issueStatusId',
        name: 'issueStatusId',
        options: craft.support.getIssueStatusOptionList(),
        value: issue.getAttribute(attribute),
        errors: issue.getErrors(attribute),
        required: true
    }) }}


{% endmacro %}

{#
 # Status dropdown with color status disc
 #}
{% macro statusWithColorField(issue) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'issueStatusId' %}

    {{ forms.hidden({
        id: attribute,
        name: attribute,
        value: issue.getAttribute(attribute)
    }) }}

    {% set field %}
        <div>
            <a id="color-menu-btn" class="btn menubtn" href="#"><span class="status {{ issue.issueStatus.color }}"></span>{{ issue.issueStatus.name }}</a>
            <div class="menu">
                <ul class="padded">
                    {% for status in craft.support.getIssueStatuses() %}
                        <li><a data-val="{{ status.id }}" {% if issue.getAttribute(attribute) == status.id %}class="sel"{% endif  %} href="#"><span class="status {{ status.color }}"></span>{{ status.name|t }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endset %}

    {{ forms.field({
        label: 'Status'|t,
        required: true,
    }, field) }}

{% endmacro %}

{% macro typeField(model) %}

    {% import "_includes/forms" as forms %}

    {{ forms.selectField({
        label: "Type"|t,
        id: 'issueTypeId',
        name: 'issueTypeId',
        options: craft.support.getIssueTypes(),
        value: model.getAttribute('issueTypeId'),
        errors: model.getErrors('issueTypeId'),
        required: true
    }) }}

{% endmacro %}

{% macro descriptionField(model, attribute, label) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'description' %}

    {{ forms.textAreaField({
        label: 'Description'|t,
        id: attribute,
        class: 'issue-description',
        name: attribute,
        value: model.getAttribute(attribute),
        errors: model.getErrors(attribute),
        required: true
    }) }}

{% endmacro %}

{% macro solutionField(model) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'solution' %}

    {{ forms.textAreaField({
        label: "Solution"|t,
        id: attribute,
        class: 'issue-solution',
        name: attribute,
        value: model.getAttribute(attribute),
        errors: model.getErrors(attribute),
        required: false
    }) }}

{% endmacro %}

{% macro projectSelectField(issue) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'projectId' %}

    {{ forms.selectField({
        label: "Project"|t,
        id: attribute,
        name: attribute,
        options: craft.support.getProjects(),
        value: issue.getAttribute(attribute),
        errors: issue.getErrors(attribute),
        required: true
    }) }}

{% endmacro %}

{% macro projectField(issue) %}

    {% import "_includes/forms" as forms %}

    {% set attribute = 'projectId' %}

    {{ forms.elementSelectField({
        label: "Project"|t,
        id: attribute,
        name: attribute,
        elementType: craft.elements.getElementType("Support_Project"),
        elementTypeId: issue.id,
        elements: [issue.project]|default,
        viewMode: 'small',
        criteria: { "kind": [], "localeEnabled": null, "locale": "en_us" },
        addButtonLabel: 'Select project',
        limit: 1,
        required: true
    }) }}

{% endmacro %}

{% macro filesField(issue) %}

    {% set assetSourceId = craft.support.settings.assetSourceId %}

    {% if assetSourceId > 0 %}

        {% import "support/_includes/forms" as forms %}

        {% set attribute = 'files' %}

        {{ forms.elementSelectField({
            label: "Files"|t,
            instructions: "Add images, documents, etc. related to this issue."|t,
            id: attribute,
            name: attribute,
            elementType: craft.elements.getElementType("Asset"),
            elementTypeId: issue.id,
            elements: issue.getFiles() | default,
            viewMode: 'small',
            criteria: { "kind": [], "localeEnabled": null, "locale": "en_us" },
            jsClass: 'Craft.AssetSelectInput',
            addButtonLabel: 'Upload File',
            limit: 100,
            sources: ['folder:' ~ assetSourceId ~ ':single']
        }) }}

    {% endif %}

{% endmacro %}
