{% extends "_layouts/elementindex" %}

{% includeCssResource 'support/css/supportCp.css' %}

{% hook 'support.prepCpTemplate' %}

{% set title = "Issues"|t %}
{% set elementType = 'Support_Issue' %}
{% set selectedTab = 'issues' %}
{% set selectedSubnavItem = 'issues' %}

{% block content %}
    {% if not projects|length %}
        <p class="error">{{ 'No projects exist yet.'|t }} <a class="go" href="{{ url('support/projects/new') }}">{{ 'Create one'|t }}</a></p>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a class="btn submit add icon" href="{{ url('support/issues/new') }}">{{ "Report an issue"|t }}</a>
    </div>
{% endset %}
