{% extends "support/_layouts/settings" %}

{% import "_includes/forms" as forms %}

{% set selectedTab = 'settings' %}

{% block content %}

    <h2>{{ "Project Fields"|t }}</h2>

    <form method="post" accept-charset="UTF-8" data-saveshortcut>
        <input type="hidden" name="action" value="support/projectSettings/save">
        <input type="hidden" name="redirect" value="support/settings/general">

        {{ getCsrfInput() }}

        {% if projectSettings.id %}<input type="hidden" name="projectSettingsId" value="{{ projectSettings.id }}">{% endif %}

        {% include "_includes/fieldlayoutdesigner" with {
            fieldLayout: projectSettings.getFieldLayout(),
        } only %}

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ "Save"|t }}">
        </div>

    </form>
{% endblock %}
