{% extends "support/_layouts/settingscp" %}

{% set title = "Support Settings"|t %}

{% set navItems = {
    'general': { title: "General Settings"|t },
    'issues-heading': { heading: "Issues"|t },
    'issuesettings': { title: "Issue Fields"|t },
    'issuetypes': { title: "Issue Types"|t },
    'issuestatuses': { title: "Issue Statuses"|t },
    'projects-heading': { heading: "Projects"|t },
    'projectsettings': { title: "Project Fields"|t },
    'customers-heading': { heading: "Customers"|t },
    'customersettings': { title: "Customer Fields"|t },
} %}

{% set selectedItem = craft.request.getSegment(3) %}
{% set docTitle = navItems[selectedItem].title ~ ' - ' ~ title %}

{% block sidebar %}

    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li><a href="{{ url('support/settings/' ~ id) }}"{% if id == selectedItem %} class="sel"{% endif %}>{{ item.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>

{% endblock %}
