{% macro dateTimeField(element, attribute, label) %}

    {% import "_includes/forms" as forms %}

    {% set input %}
        {{ forms.date({
            id:        attribute,
            name:      attribute,
            value:     element.getAttribute(attribute),
            errors:    element.getErrors(attribute),
            autofocus: (attribute == 'startDate'),
        }) }}

        {{ forms.time({
            id:        attribute,
            name:      attribute,
            value:     element.getAttribute(attribute),
            errors:    element.getErrors(attribute),
        }) }}
    {% endset %}

    {{ forms.field({
        id:       attribute,
        label:    label,
        first:    (attribute == 'startDate'),
        required: true
    }, input) }}

{% endmacro %}

{% macro issueStatusField(element, attribute, label) %}

    {% import "_includes/forms" as forms %}

    {% set input %}

        {{ forms.text({
            id: attribute,
            name: attribute,
            value: element.getAttribute(attribute),
            errors: element.getErrors(attribute),
            autofocus: true
        }) }}

    {% endset %}

    {{ forms.field({
        id: attribute,
        label: label,
        first: true,
        required: true
    }, input ) }}

{% endmacro %}

{{ issueStatusField(element, 'issueStatus', 'Status'|t) }}

{#{{ dateTimeField(element, 'startDate', "Start Date"|t, true) }}#}
{#{{ dateTimeField(element, 'endDate', "End Date"|t, false) }}#}
