{% extends "support/_layouts/settingscp" %}

{% set crumbs = [
{ label: 'Support ' ~ 'Settings'|t, url: url('support/settings') },
{ label: 'Issue Types'|t, url: url('support/settings/issuetypes') }
] %}

{% set fullPageForm = true %}

{% set selectedTab = 'settings' %}
{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="support/issueTypes/save">
    <input type="hidden" name="redirect" value="support/settings/issuetypes">
    {% if issueType.id %}<input type="hidden" name="issueTypeId" value="{{ issueType.id }}">{% endif %}

    {{ getCsrfInput() }}

    {{ forms.textField({
        label: "Name"|t,
        first: true,
        instructions: "What this issue type will be called in the CP."|t,
        id: 'name',
        name: 'name',
        value: issueType.name,
        errors: issueType.getErrors('name'),
        required: true
    }) }}

    {{ forms.textField({
        label: "Handle"|t,
        instructions: "How you’ll refer to this type in the templates."|t,
        id: 'handle',
        class: 'code',
        name: 'handle',
        value: issueType.handle,
        errors: issueType.getErrors('handle'),
        required: true
    }) }}


    {{ forms.checkboxField({
        label: "New issues get this type by default"|t,
        name: 'default',
        value: 1,
        checked: issueType.default,
        errors: issueType.getErrors('default')
    }) }}
{% endblock %}

{% includejs %}
{% if not issueType.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{% endincludejs %}
