{% extends 'support/_layouts/settings' %}

{% set selectedTab = 'settings'  %}

{% block content %}

    <h2>{{ "Issue Types"|t }}</h2>

    <p>{{ "Define the types that can be set on issues."|t }}</p>

    <table id="issue-types" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Default Type?"|t }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for issueType in issueTypes %}
            <tr data-id="{{ issueType.id }}" data-name="{{ issueType.handle }}">
                <th scope="row" data-title="{{ "Name"|t }}"><a href="{{ issueType.getCpEditUrl() }}">{{ issueType.htmlLabel|raw }}</a></th>
                <td data-title="{{ "Handle"|t }}" class="code">{{ issueType.handle }}</td>
                <td>{% if issueType.default %}<span data-icon="check" title="{{ "Yes"|t }}"></span>{% endif %}</td>
                {% set issueExist = craft.support.issues.issueTypeId(issueType.id).first() %}
                <td class="thin">
                    <a class="move icon disabled" title="{{ 'Move'|t }}" role="button"></a>
                </td>
                {% if not issueExist|length %}
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                {% else %}
                    <td class="thin"></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttons">
        <a href="{{ url('support/settings/issuetypes/new') }}" class="btn submit add icon">{{ 'New issue type'|t }}</a>
    </div>

{% endblock %}

{% includejs %}
{#<script>#}
    new Craft.AdminTable({
        tableSelector: '#issue-types',
        deleteAction: 'support/issueTypes/delete',
        minObjects: 1,
        sortable: true,
        reorderAction: 'support/issueTypes/reorder',
        reorderSuccessMessage: Craft.t('Issue types reordered.'),
        reorderFailMessage: Craft.t('Couldn’t reorder types.')
    });
{#</script>#}
{% endincludejs %}
