{% extends "support/_layouts/settingscp" %}

{% set crumbs = [
{ label: 'Support ' ~ 'Settings'|t, url: url('support/settings') },
{ label: 'Issue Statuses'|t, url: url('support/settings/issuestatuses') }
] %}

{% set fullPageForm = true %}

{% set selectedTab = 'settings' %}
{% import "_includes/forms" as forms %}

{% block content %}
    <input type="hidden" name="action" value="support/issueStatuses/save">
    <input type="hidden" name="redirect" value="support/settings/issuestatuses">

    {% if issueStatus.id %}<input type="hidden" name="issueStatusId" value="{{ issueStatus.id }}">{% endif %}

    {{ getCsrfInput() }}

    {{ forms.textField({
        label: "Name"|t,
        first: true,
        instructions: "What this issue status will be called in the CP."|t,
        id: 'name',
        name: 'name',
        value: issueStatus.name,
        errors: issueStatus.getErrors('name'),
        required: true
    }) }}

    {{ forms.textField({
        label: "Handle"|t,
        instructions: "How you’ll refer to this status in the templates."|t,
        id: 'handle',
        class: 'code',
        name: 'handle',
        value: issueStatus.handle,
        errors: issueStatus.getErrors('handle'),
        required: true
    }) }}

    {{ forms.hidden({
        id: 'color',
        name: 'color',
        value: issueStatus.color
    }) }}

    {% set colorField %}
    <div>
        <a id="color-menu-btn" class="btn menubtn" href="#"><span class="status {{ issueStatus.color }}"></span>{{ issueStatus.color|t|title }}</a>
        <div class="menu">
            <ul class="padded">
                {% for color in ['green', 'orange', 'red', 'blue', 'yellow', 'pink', 'purple', 'turquoise', 'light', 'grey', 'black'] %}
                    <li><a data-val="{{ color }}" {% if issueStatus.color == color %}class="sel"{% endif %} href="#"><span class="status {{ color }}"></span>{{ color|t|title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endset %}

    {{ forms.field({
        label: 'Color'|t,
        instructions: 'Choose a color to represent the issue’s status.'|t
    }, colorField) }}


    {{ forms.checkboxField({
        label: "New issues get this status by default"|t,
        name: 'default',
        value: 0,
        checked: issueStatus.default,
        errors: issueStatus.getErrors('default')
    }) }}


    {{ forms.checkboxField({
        label: "This is a ”closed“ status."|t,
        name: 'closed',
        value: 0,
        checked: issueStatus.closed,
        errors: issueStatus.getErrors('closed')
    }) }}
{% endblock %}

{% includejs %}
{% if not issueStatus.handle %}new Craft.HandleGenerator('#name', '#handle');{% endif %}
{#<script>#}
$(function ()
{
    var $colorSelect = $('#color-menu-btn');
    new Garnish.MenuBtn($colorSelect, {
        onOptionSelect: function (data)
        {
            var val = $(data).data('val');
            $('#color').val(val);

            var html = '<span class="status ' + val + '"></span>' + Craft.uppercaseFirst(val);
            $colorSelect.html(html);
        }
    });
});
{#</script>#}
{% endincludejs %}
