{% extends 'support/_layouts/settings' %}

{% set selectedTab = 'settings'  %}

{% block content %}

    <h2>{{ "Issue Statuses"|t }}</h2>

    <p>{{ "Define the statuses that can be set on issues."|t }}</p>

    <table id="issue-statuses" class="data fullwidth collapsible">
        <thead>
        <tr>
            <th scope="col">{{ "Name"|t }}</th>
            <th scope="col">{{ "Handle"|t }}</th>
            <th scope="col">{{ "Default Status?"|t }}</th>
            <th scope="col">{{ "Closed Status?"|t }}</th>
            <td class="thin"></td>
            <td class="thin"></td>
        </tr>
        </thead>
        <tbody>
        {% for issueStatus in issueStatuses %}
            <tr data-id="{{ issueStatus.id }}" data-name="{{ issueStatus.handle }}">
                <th scope="row" data-title="{{ "Name"|t }}"><a href="{{ issueStatus.getCpEditUrl() }}">{{ issueStatus.htmlLabel|raw }}</a></th>
                <td data-title="{{ "Handle"|t }}" class="code">{{ issueStatus.handle }}</td>
                <td>{% if issueStatus.default %}<span data-icon="check" title="{{ "Yes"|t }}"></span>{% endif %}</td>
                <td>{% if issueStatus.closed %}<span data-icon="check" title="{{ "Yes"|t }}"></span>{% endif %}</td>
                {% set issueExist = craft.support.issues.issueStatusId(issueStatus.id).first() %}
                <td class="thin">
                    <a class="move icon disabled" title="{{ 'Move'|t }}" role="button"></a>
                </td>
                {% if not issueExist|length %}
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                {% else %}
                    <td class="thin"></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="buttons">
        <a href="{{ url('support/settings/issuestatuses/new') }}" class="btn submit add icon">{{ 'New issue status'|t }}</a>
    </div>

{% endblock %}

{% includejs %}
{#<script>#}
    new Craft.AdminTable({
        tableSelector: '#issue-statuses',
        deleteAction: 'support/issueStatuses/delete',
        minObjects: 1,
        sortable: true,
        reorderAction: 'support/issueStatuses/reorder',
        reorderSuccessMessage: Craft.t('Issue statuses reordered.'),
        reorderFailMessage: Craft.t('Couldn’t reorder statuses.')
    });
{#</script>#}
{% endincludejs %}
