{% extends "support/_layouts/settings" %}

{% set selectedTab = 'settings' %}

{% import "_includes/forms" as forms %}

{% block content %}

    <h2>{{ "General Settings"|t }}</h2>

    <form action="" method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="support/settings/saveSettings">
        <input type="hidden" name="redirect" value="support/settings/">
        {{ getCsrfInput() }}

        {{ forms.textField({
            label: "Name"|t,
            instructions: "Enter your name."|t,
            id: 'name',
            name: 'settings[name]',
            value: settings.name,
            errors: settings.getErrors('name')
        }) }}

        {{ forms.selectField({
            label: "Asset Source"|t,
            instructions: "Choose the asset source to store files into."|t,
            id: 'assetSourceId',
            name: 'settings[assetSourceId]',
            value: settings.assetSourceId,
            options: assetSources,
            errors: settings.getErrors('assetSourceId')
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
    </form>

{% endblock %}
