<div class="recententries-container">
	{% if issues|length %}
		<table class="data fullwidth">
			{% for entry in issues %}
				<tr>
					<td>
						<a href="{{ entry.getCpEditUrl() }}">#{{ entry.id }} {{ entry.title }}</a>
						<span class="light">
							{{ entry.dateCreated.uiTimestamp() }}
						</span>
					</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>{{ "No new issues."|t }}</p>
	{% endif %}
</div>
