{% import "_includes/forms" as forms %}


{{ forms.textField({
    label: "Widget Title"|t,
    id: 'title',
    name: 'title',
    value: settings.title,
    errors: settings.getErrors('title'),
    required: true,
    placeholder: "Recent tickets"|t
}) }}

{{ forms.selectField({
    label: "Status"|t,
    id: "status",
    name: "status",
    value: settings.status,
    options: issueStatuses,
    errors: settings.getErrors('status')
}) }}

{{ forms.textField({
	label: "Limit"|t,
	id: 'limit',
	name: 'limit',
	value: settings.limit,
	size: 2,
	errors: settings.getErrors('limit')
}) }}
