{% extends "events/_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'contacts' %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block content %}

    <input type="hidden" name="action" value="events/contacts/save">
    <input type="hidden" name="redirect" value="events/contacts">

    {% if contact.id %}<input type="hidden" name="contactId" value="{{ contact.id }}">{% endif %}


    {{ forms.textField({
        first: true,
        label: "Name"|t,
        id: 'name',
        name: 'name',
        value: contact.name,
        errors: contact.getErrors('name'),
        autofocus: true,
        required: true,
        translatable: true
    }) }}

    {{ forms.textField({
        label: "Email"|t,
        id: 'email',
        name: 'email',
        value: contact.email,
        errors: contact.getErrors('email'),
        required: true,
        translatable: true
    }) }}

{% endblock %}
