{% extends "events/_layouts/cp" %}

{% from "_includes/forms" import text -%}

{% set context = context is defined ? context : 'index' %}
{% set showStatusMenu = (showStatusMenu is defined and showStatusMenu != 'auto' ? showStatusMenu : false) %}
{% set showLocaleMenu = (craft.isLocalized() and context == 'index' ? (showLocaleMenu is defined and showLocaleMenu != 'auto' ? showLocaleMenu : elementType.isLocalized()) : false) %}
{% set showLocaleMenu = false %}
{% set sortableAttributes = { email: 'Email', name: 'Name' } %}

{% set selectedSubnavItem = 'contacts' %}

{% set title = "Contacts" %}

{% block content %}

    <div id="no-contacts"{% if contacts|length %} class="hidden"{% endif %}>
        <p>{{ 'No contacts exist yet'|t }}</p>
    </div>


    {% if contacts|length %}
        <table id="contacts" class="data fullwidth collapsible">
            <thead>
            <tr>
                <th scope="col">{{ 'Name'|t }}</th>
                <th scope="col">{{ 'Email'|t }}</th>
                <th class="thin"></th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr data-id="{{ contact.id }}" data-name="{{ contact.name }}">
                    <th scope="row" data-title="{{ 'Name'|t }}">
                        <a href="{{ url('events/contacts/'~contact.id) }}">{{ contact.name }}</a></th>
                    <td scope="row" data-title="{{ 'Email'|t }}">{{ contact.email }}</td>
                    <td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% set extraPageHeaderHtml %}
    <div id="newcontactcontainer" class="buttons">
        <a href="{{ url('events/contacts/new') }}" class="btn submit add icon">{{ 'New contact'|t }}</a>
    </div>
{% endset %}

{% includejs %}
var adminTable = new Craft.AdminTable({
tableSelector: '#contacts',
noObjectsSelector: '#no-contacts',
newObjectBtnSelector: '#newcontactcontainer',
deleteAction: 'events/contacts/delete',
confirmDeleteMessage: '{{ 'Are you really, REALLY sure you want to delete “{name}”? I mean really...'|t }}'
});
{% endincludejs %}
